# Dependencies
node_modules/

# Build output
build/

# Dev environment
.env
.env.*
!.env.example

# TypeScript source maps
**/*.map

# Logs
*.log
logs/

# Tests
tests/
coverage/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Misc
.DS_Store
README.md
